:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    text-align: center;
    font-family: 'Outfit';
}

#card {
    background-color: var(--white);
    width: 312px;
    border-radius: 15px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#card #qr {
    width: 100%;
}

#card #qr img {
    width: 100%;
    border-radius: 15px;
}

#title p {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

#subtitle p {
    font-size: 15px;
    color: var(--grayish-blue);
    font-weight: 400;
    padding-bottom: 24px;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}